name: Node CI
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - name: Install dependencies
        run: npm ci
      - name: Run test cases
        run: npm run test
      - name: Build
        run: npm run build
